name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push backend
      run: |
        docker build -t unique1112/innova-backend:latest ./backend
        docker push unique1112/innova-backend:latest
    
    - name: Build and push frontend
      run: |
        docker build -t unique1112/innova-frontend:latest ./frontend
        docker push unique1112/innova-frontend:latest
    
    - name: Build and push database
      run: |
        docker build -t unique1112/innova-mongodb:latest ./database
        docker push unique1112/innova-mongodb:latest
